<!DOCTYPE html>
<html>
<head>
<!-- Title & Icon -->
<title><%= title %></title>
<link rel="icon" href="icon.jpg">
<% include ../elements/meta %>
<% include ../elements/lib %>
</head>
<body>

<div class="container font-fresca">
	<!-- Purpose -->
	<h2> NavGamer RESTful API Document </h2>
	<hr>
	快速跳轉到: 
	<!-- Button trigger modal(and modal is in bottom) -->
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tableModal">
		See all tags
	</button>
	<h5> <%= api.version %> </h5>
	<!-- User Part -->
	<% for(var b_index in api.tags){ %>
		<div id="<%= api.tags[b_index].name %>-part" class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-triangle-right"><span> <%= api.tags[b_index].name %> 
				</div>
				<div class="panel-body">
					<!-- Each part here --> 
					<% for(var index in api.tags[b_index].body){ %>
						<!-- URL goes here -->
						<h4 id="<%= api.tags[b_index].body[index].url %>"> URL: </h4>
						<div class="input-group">
							<span class="input-group-btn">
							<% if(api.tags[b_index].body[index].method == "GET"){ %>
								<button class="btn btn-success" type="button"><%= api.tags[b_index].body[index].method %></button>
							<% }else if(api.tags[b_index].body[index].method == "POST"){ %>
								<button class="btn btn-info" type="button"><%= api.tags[b_index].body[index].method %></button>
							<% } %>
							</span>
							<span class="input-group-addon"><i class="fa fa-code" aria-hidden="true"></i><strong> <%= api.tags[b_index].body[index].usage %> </strong></span>
							<input type="text" class="form-control" placeholder="user-add" aria-describedby="basic-addon1" value="<%= api.tags[b_index].body[index].url %>" readonly="true">
						</div>
						<br>
						<!-- Description -->
						<h4> Description: </h4> 
						<pre><%= api.tags[b_index].body[index].description %></pre>
						<!-- Field Parameter goes here -->
						<h4> Field (Parameter): </h4>
						<ol>
							<% if(api.tags[b_index].body[index].method == "POST"){ %>
							<table class="table table-striped">
							<thead>
								<tr>
									<th>Field Name</th>
									<th>Field Type</th>
								</tr>
								</thead>
							<tbody>
							<% for(var v_index in api.tags[b_index].body[index].field){ %>
							<tr>
								<td><kbd class="field"><%= api.tags[b_index].body[index].field[v_index].name %></kbd></td>
								<td><%= api.tags[b_index].body[index].field[v_index].type %></td>
							</tr>
							<% } %>
							</tbody>
							</table>
							<% } %>
						</ol>
						<!-- Server Response goes here -->
						<h4> Server Response: </h4>
						<hr>
						<ul> Error: <kbd><%= api.tags[b_index].body[index].error %></kbd> </ul>
						<br>
						<ul> Success: <kbd><%= api.tags[b_index].body[index].success %></kbd> </ul>
						<hr>
					<% } %>
				</div>
			</div>
		</div>
		<hr>
	<% } %>


</div>
<!-- Modal -->
<div class="modal fade" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="tableModal">條例式快速跳轉</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Tags Here -->
				<ul class="nav nav-tabs">
					<% for(var index in api.tags){ %>
						<% if(index == 0){ %>
							<li class="active"><a data-toggle="tab" href="#<%= api.tags[index].name %>-modal"><%= api.tags[index].name %></a></li>
						<% }else{ %>
							<li><a data-toggle="tab" href="#<%= api.tags[index].name %>-modal"><%= api.tags[index].name %></a></li>
						<% } %>
					<% } %>
				</ul>

				<div class="tab-content">
					<% for(var index in api.tags){ %>
						<% if(index == 0){ %>
							<div id="<%= api.tags[index].name %>-modal" class="tab-pane fade in active">
								<h3><%= api.tags[index].name %></h3>
								<p><%= api.tags[index].description %></p>
								<% for(var b_index in api.tags[index].body){ %>
									<a href="#<%= api.tags[index].body[b_index].url %>"><%= api.tags[index].body[b_index].url %></a> <br>
								<% } %>
							</div>
						<% }else{ %>
							<div id="<%= api.tags[index].name %>-modal" class="tab-pane fade">
								<h3><%= api.tags[index].name %></h3>
								<p><%= api.tags[index].description %></p>
								<% for(var b_index in api.tags[index].body){ %>
									<a href="#<%= api.tags[index].body[b_index].url %>"><%= api.tags[index].body[b_index].url %></a> <br>
								<% } %>
							</div>
						<% } %>
					<% } %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="go()">確認前往</button>
			</div>
		</div>
	</div>
</div>

</body>
<script>
function go(){
	window.location.reload(false);
}
</script>
<!-- Footer -->
<% include ../elements/normal_footer_bootstrap %>
</html>